* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 72px;
  line-height: 1.4;
  letter-spacing: 0.054em;
  font-family: "Lobster", cursive;
  text-align: center;
  padding: 3%;
}

p {
  font-family: "Open Sans", sans-serif;
}

.row, .back {
  display: flex;
  flex: 25%;
  padding: 0 4px;
  justify-content: center;
}

.card {
  margin-top: 20px;
  vertical-align: middle;
  width: 175px;
  height: 135px;
  border: 1px solid black;
  border-radius: 21%;
  box-shadow: 0px 6px 8px black;
  margin: 2%;
}

.image-container, .second-container {
  width: 100%;
  position: absolute;
  display: flex;
  flex-flow: column wrap;
}


.container {
  position: relative;
  width: 100%;

}

.turned {
  animation: turn 0.5s ease-out;
  transition: 0.6s;
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
}

@keyframes turn {
  from {rotate: 0deg; }
  to { transform: rotateY(180deg); opacity: 0}
} 